#map {
    height: 350px;
    width: 750px;
    margin: auto;
    border-style: solid;
    border-color:  #B42C1A;
    border-radius: 25px;
  }
  .output{
    margin-left: 40%;
  font-family: 'Suranna', serif;
   font-size: 19pt;
   position: absolute;
   margin-top: 31%;
   font-weight: bold;
   line-height: normal;
  }
  h3{
    text-align: center;
    font-family: 'Suranna', serif;
    font-size: 15pt;
    margin: auto;
  }
  p{
    text-align: center;
    font-family: 'Suranna', serif;
    font-size: 15pt;
    margin-bottom: auto;
    padding: 0;
  }
  .img-decor{
    width: 80%;
    margin: auto;
    border-style: solid;
    border-color:  #B42C1A;
    border-radius: 25px;
    position: relative;
  }
  #results{
    text-align: center;
  }
  #address{
    text-align: center;
  }