.card {
  background-image: url("../../assets/images/straits-kitchen.png");
  background-size: cover;
}

#map {
  height: 350px;
  width: 650px;
  margin: auto;
  border-style: solid;
  border-color: #b42c1a;
  border-radius: 25px;
}
.nav-link {
  font-size: 20px;
}
.output {
  text-align: center;
  margin-left: 38.5%;
  font-family: "Suranna", serif;
  font-size: 19pt;
  position: absolute;
  margin-top: 31%;
  font-weight: bold;
  line-height: normal;
  width: 300px;
  height: 150px;
  padding: 50px;
}
.navbar-brand {
  font-size: 30px;
  display: block;
  margin: 0;
}
h3 {
  text-align: center;
  font-family: "Suranna", serif;
  font-size: 15pt;
  margin: auto;
  color: #b42c1a;
}
#map-id {
  display: block;
  margin: 0;
  text-align: center;
  font-family: "Suranna", serif;
  font-size: 23pt;
}
p {
  text-align: center;
  font-family: "Suranna", serif;
  font-size: 15pt;
  display: block;
  margin-bottom: auto;
  padding: 0;
}
a {
  font-family: "Suranna", serif;
}
.img-decor {
  width: 80%;
  margin: auto;
  border-style: solid;
  border-color: #b42c1a;
  border-radius: 25px;
  position: relative;
}
.navbar {
  width: 80%;
  margin: auto;
  display: block;
  border-radius: 25px;
  border-color: #b42c1a;
  border-style: solid;
}
#results {
  text-align: center;
}
#loading {
  display: block;
  margin: auto;
  border-style: solid;
  border-color: #b42c1a;
  border-radius: 25px;
}
/* Index 2 CSS */
#hos {
  text-align: center;
  border-style: solid;
  border-color: #000;
  width: 75%;
  display: block;
  margin: auto;
  background: #b42c1a;
}
#img-2 {
  margin-top: 55px;
  margin-right: 30px;
  margin-left: 15px;
  float: right;
  border-style: solid;
  border-color: #000;
}
#hos-h1 {
  text-align: center;
  font-family: "Suranna", serif;
  color: #000;
}
td {
  text-align: center;
  font-family: "Suranna", serif;
  background: #eee;
  border-style: solid;
  border-color: #000;
  width: 50%;
}
/* animation */
#hos-h1 {
  text-align: center;
  width: 300px;
  height: 75px;
  background:#b42c1a; 
  position: relative;
  border-style: solid;
  border-color: #000;
  border-radius: 25px;
  -webkit-animation: mymove 20s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {left: 200px;}
  to {left: 980px;}
}

@keyframes mymove {
  from {left: 200px;}
  to {left: 980px;}
}